body {
    background: #272727;
    color: #fff;
}

.square {
    position: relative;
    background: #535353;
    max-width: 300px;
    height: 300px;
    border-radius: 10px;
    transform: translate(721px, 301px);
}


.loading {
    position: absolute;
    left: -142px;
    top: -70px;
    background: #7a7a7a;
    background: linear-gradient(90deg, rgba(122, 122, 122, 1) 0%, rgba(219, 219, 219, 1) 51%, rgba(255, 255, 255, 1) 100%);
    width: 0px;
    height: 40px;
    border-radius: 20px;
    transition: all 1s ease;
}

.square:hover .loading {
    width: 600px;
}

.success {
    text-align: center;
    padding-top: 130px;
    color: #76c276;
    opacity: 0;
    transition: 1s all 1s;
}

.square:hover .success {
    opacity: 1;
}