.footer {
    color: var(--general-bg);
    background: #AB8261;
    padding: 60px 0 66px;
}

.footer__inner {
    display: grid;
    gap: 40px 15px;
    justify-content: space-between;
    grid-template-columns: 0.9fr 0.9fr 1.1fr auto;
}

.footer__col:first-child {
    margin-top: -30px;
}

.footer__logo {
    display: block;
    max-width: 240px;
}

.footer__logo img {
    width: 100%;
    ;
}

.footer__logo-text {
    margin-bottom: 20px;
}

.footer__col-list {
    margin-top: -5px;
}

.footer__col-item {
    margin-bottom: 10px;
}

.footer__col-item:last-child {
    margin-bottom: 0;
}

.footer__col-link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.footer__col-link::before {
    display: block;
    position: absolute;
    content: '';
    top: -14.2px;
    left: -16.4px;
    background: var(--accent-color);
    width: 34px;
    height: 34px;
    border-radius: 100%;
    z-index: -1;
    opacity: 0;
    transition: all .4s;
}

.footer__col-link:hover::before {
    opacity: 1;
}

.footer__contacts-list {}

.footer__contacts-item {
    margin-bottom: 10px;
}

.footer__contacts-item:last-child {
    margin-bottom: 10px;
}

.footer__col-tel {
    margin-bottom: 47px;
}

.footer__col-number {
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.6;

    transition: all .3s;
}

.footer__col-number:hover {
    color: var(--accent-color);
}

.footer__col-copy {
    color: #DEC5B1;
}



.socials {}

.socials-list {
    display: flex;
    gap: 15px;
}

.socials__link path {
    transition: all .3s;
}

.socials__link:hover path {
    fill: var(--accent-color);
}